/* potential color combo 
#22181C
#00A7E1
#F5EE9E
#C84630 */

:root {
  --primary-color: white;
  --secondary-color: lightgray;
  --text-color: #22181C;
  --active-color: #C84630;
  --box-shadow: #22181C;
  --button-bg-color: #e0b354;
  --header-font-weight: 400;
}

* {
  box-sizing: border-box;

}

body {
  font-family: 'poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* Sets the font size to 16px */
  line-height: 1.6;
  /* Sets the line-height to 1.6 */
  background-color: var(--primary-color);
  margin: 25px;
}

h1 {
  font-size: 30px;
  font-weight: var(--header-font-weight);
}

h2 {
  font-size: 24px;
  font-weight: var(--header-font-weight);
}

h3 {
  font-size: 18px;
  font-weight: var(--header-font-weight);
}


a {
  color: var(--text-color);
  font-weight: 300;
}

p {
  font-size: 18px;
  font-weight: 200;
}

.navigation-list__item--active {
  text-decoration: none;
  font-weight: 500;
}

.navigation-list__item {
  text-decoration: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
  margin-top: 10px;
  font-size: 18px;

}

#signature {
  font-family: 'Mr Dafoe', cursive;
  cursor: pointer;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 35px;
}

.page-header__item {
  flex: 0 1 150px;
  width: auto;
  height: auto;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: end;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile {
  margin: 0 20px 0 20px;

}

.intro-section {
  display: flex;
  justify-content: space-around;
  padding-bottom: 100px;

}

.intro-text {
  align-self: center;
  margin-bottom: 200px;
}

.profile__portrait {
  width: 30%;
  margin-top: 170px;
  border-radius: 25px;
}

.work-section {
  margin-top: 100px;
}

.img-wrapper {
  display: flex;
  align-items: center;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project-section {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 50px;
  padding-bottom: 50px;
}

.project-section-v2 {
  display: flex;
  margin-top: 50px;
  padding-bottom: 50px;
}

.project-wrapper {
  padding-left: 50px;
  margin-top: 50px;
}

.project-wrapper-v2 {
  padding-right: 50px;
  margin-top: 50px;
}

.project-img {
  max-width: 50%;
  max-height: 50%;
  object-fit: contain;
  border-radius: 25px;
  border-style: ridge;
}

/* hambuger styles */

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
  background-color: #101010;
}

@media only screen and (max-width: 768px) {
  .navigation-list {
    display: flex;
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    margin: auto;
    box-shadow:
      0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .navigation-list.active {
    left: 0%;


  }

  .navigation-list__item {
    margin: 2.5rem 0;
    align-self: center;
  }

  .hamburger {
    display: block;
    float: right;
    padding-top: 25px;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .project-section,
  .project-section-v2 {
    width: 90%;
    height: 90%;
    flex-direction: column-reverse;
  }

  .project-img {
    max-width: 80%;
    max-height: 80%;
  }

  .project-wrapper,
  .project-wrapper-v2,
  .profile {
    padding: unset;
    margin: unset;
  }

  .profile__portrait {
    width: 50%;
    height: 50%;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}


@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

#about-picture {
  margin: 50px;
}

.global__layout__decoration {
  position: absolute;
  left: 10rem;
  bottom: 4rem;
  font-size: 4.8rem;
}